body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: inherit; /* Default background color */
}

.Registration {
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.Registration h2 {
    margin-bottom: 20px;
}

.Registration input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.Registration input::placeholder {
    color: #888;
}

.Registration button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background: none;
}

.Registration button:hover {
    border-color: #888;
}

.success-message {
    color: green;
    font-size: 16px;
    margin-bottom: 20px;
    animation: fade-out 3s forwards;
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
